<%= render 'layouts/errors', obj: @book %>
<%= render 'users/userinfo', user: current_user %>
<%= render 'books/newbook', book: @book %>

    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'index', books: @books %>
    </div>

</div>